<h1><%= @user.username %></h1>

<ul>
  <% @user.goals.each do |goal| %>
    <% if !goal.private || (goal.private && (current_user.id == goal.user_id)) %>
      <li>
        <a href="<%= goal_url(goal)%>"><%= goal.title %></a>
      </li>
    <% end %>
  <% end %>
</ul>


<a href="<%= new_goal_url %>">Create New Goal</a>
