<form action="<%= url %>" method="post">
  <%= csrf_html %>
  <label>
    Username
    <input type="text" name="user[username]">
  </label>
  <br>
  <label>
    Password
    <input type="password" name="user[password]">
  </label>
  <button>"<%= button %>"</button>
</form>
